/* app.css */
.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;  /* optional: center content horizontally */
  align-items: center;      /* optional: center content vertically */
  background-color: #F9F8F6; /* change background color if you want */
}
