@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');


html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: "#2C2C2C";
  font-family: 'poppins', sans-serif;
}
